<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You are only one step a way from your new password, recover your password
                    now.</p>
                <Form @submit="onSubmit" method="post" v-slot="{ errors, meta }">
                    <div class="input-group mb-1">
                        <Field name="password" rules="required|min:8" type="password"
                               :class="[!errors.password ? 'form-control' : 'form-control is-invalid']"
                               v-model="formReset.password"
                               placeholder="Password"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <ErrorMessage name="password" class="d-block mb-2 error invalid-feedback px-2"/>
                    <div class="input-group mb-1">
                        <Field name="passwordConfirmation" rules="required|confirmed:@password" type="password"
                               :class="[!errors.passwordConfirmation ? 'form-control' : 'form-control is-invalid']"
                               v-model="formReset.passwordConfirmation"
                               placeholder="Retype password"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <ErrorMessage name="passwordConfirmation" class="d-block mb-2 error invalid-feedback px-2"/>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Change password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </Form>

                <p class="mt-3 mb-1">
                    <a href="/login">Login</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</div>
